body {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 0 1rem;

	h1 {
		color: rgb(209, 168, 85);
	}

	nav {
		background-color: #222;
		padding: .5rem;

		a {
			color: #aaa;
			text-decoration: none;
			margin-right: 1rem;
		}

		a.active {
			color: rgb(211, 211, 110);
		}
	}
	// .glossaryContainer{
		
		
		

	// }
	.card {
		background-color: #222;
		width: 360px;
		padding: .5rem;
		border-bottom: .5rem ridge rgba(211, 220, 50, .6);
		margin-bottom: .2rem;

		h3 {
			color: turquoise;
			padding-inline-start: .9rem;
			cursor: pointer;
			&:hover {
				font-weight: bolder;
			}
			
		}
		.textContainer {
			background-color: #333;
			padding: .2rem;
			margin-bottom: .2rem;
			text-align: left;
			padding-inline: .9rem;
		}
	}
	

}